@import '../../variables.scss';
@import '~bootstrap/scss/bootstrap';

.chat {
  &__form {
    display: flex;
    position: fixed;
    width: 100%;
    height: 150px;
    bottom: 0px;
    background-color: $main;
  }
  &__controls {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #ffffff;
  }
  &__flex {
    flex: 1;
  }
}
