@import '../../variables.scss';
@import '~bootstrap/scss/bootstrap';

.chat {
  &__form {
    display: flex;
    position: fixed;
    width: 100%;
    height: 130px;
    bottom: 0px;
    background: #fff;
    border-top: 1px solid #e3e3e3;
  }

  &__controls {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: darkslategray;
    align-items: center;
  }

  &__flex {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
  }
}