@import './variables.scss';
@import '~bootstrap/scss/bootstrap';

#root {
  background-color: $main;
  height: 100vh;
  // display: flex;
}
#portal {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}
.chat {
  &__message {
    flex: 4;
    width: 100%;
    color: $fontColor;
    padding: 12px;
    border: none;
  }
}

//https://itnext.io/structuring-your-sass-projects-c8d41fa55ed4
