@import './variables.scss';
@import '~bootstrap/scss/bootstrap';

#root {
  background-color: $main;
  height: 100vh;
  // display: flex;
}

.chat {
  &__message {
    flex: 4;
    width: 100%;
    color: $fontColor;
  }
}
//https://itnext.io/structuring-your-sass-projects-c8d41fa55ed4
