@import '../../variables.scss';

.chat-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__controls {
        margin-top: 16px;
        background: #fff;
        width: 60%;
    }
}