@import '../../variables.scss';

.chat-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__controls {
        margin-top: 16px;

        a {
            color: #fff;
            background: #007bff;
            border-radius: 10px;
            padding: 4px 12px;
            margin: 4px;
            margin-top: 16px;
        }

    }

    h1 {
        color: #fff;
    }
}