.chat-message {
  &__wrapper {
    padding: 12px;
  }

  &__content {
    width: 70vw;
    margin-top: 8px;

    &--text {
      border: 1px solid gray;
      border-radius: 15px;
      padding: 16px;
    }
  }

  &__userInfo {
    display: flex;
    flex-wrap: wrap;

    img,
    .chat-message__avatar {
      margin: 0px 8px;
    }

    &--user {
      flex-direction: row-reverse;

      .chat-message__avatar {
        display: none;
      }
    }
  }
}