.chat-message {
    &__wrapper {
        padding: 12px;
    }
    &__content {
        width: 70vw;
        border: .4px solid gray;
        border-radius: 5px;
        padding: 0 8px;
        &--user {
            margin-left: auto;
        }
    }
    &__userInfo {
        display: flex;
        img, .chat-message__avatar {
            margin: 0px 8px;
        }
        &--user {
            h4, img, .chat-message__avatar {
                margin-left: auto;
            }
            img, .chat-message__avatar {
                order: 1;
            }
        }
    }
}