.chat {
    &__infoBar {
        display: flex;
        padding-top: 12px;
        align-items: center;
    }

    &__room {
        width: 100px;
        flex: 5;

    }

    &__count {
        width: 100px;
        flex: 1;

    }

    &__back {
        width: 100px;
        flex: 1;
    }
}