.chat {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 100px;
    }
  }
}
.chat__label {
  cursor: pointer;
  margin: 0px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 6px;
  svg {
    width: 24px;
    height: 24px;
  }
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
