.chat {
  &__head {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}